<!-- this is a very simple html file to demonstrate the template functionality -->
{% extends 'layout.html' %}
{% block body_content %}
<div class="home">
    {% for post in posts %}
        <div>
            <h3>{{ post.title }}</h3>
	    <ul>
		<li><b> First name:</b> {{ post.first_name }} </li>
                <li><b> Last name:</b> {{ post.last_name }}</li>
	    </ul>
            <p> -- {{ post.content }}</p>
        </div/>
    {% endfor %}
    <div>
	 
    </div>
</div>
    
{% endblock body_content %}
