{% extends "layout.html" %}
{% block body_content %}
    <div class='form'>
        <form method='POST' action=''>
		{{ form.hidden_tag() }}<br>
            {{ form.first_name.label }}
	    <p> {{ form.first_name }}</p>
            <br>
            {{ form.last_name.label }}
	    <p>{{ form.last_name }}</p>
            <br>
            {{ form.title.label }}
	    <p>{{ form.title }}</p>
            <br>
            {{ form.content.label }}
	    <p>{{ form.content }}</p>
            <br>
	    <p> {{ form.submit }}</p>
        </form>
    </div>
{% endblock body_content %}
